<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Catalogue Service - Web (CSW)</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cat/csw/2.0.2</namespace-uri>
        <prefix>csw</prefix>
        <local-name>csw-${spec-version}-compliance-suite</local-name>
        <title>CSW ${spec-version} Conformance Test Suite</title>
        <description>Checks catalogue implementations for conformance to the CSW part of OGC 07-006r1.</description>
      </suite>
      <revision>
        <name>${version}</name>
        <sources>
          <source>${ets-code}/${spec-version}/ctl</source>
        </sources>
        <resources>${ets-code}/${spec-version}/resources</resources>
        <webdir>${ets-code}/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
